/*
!/.gitignore
!/.gitmodules

# dotfiles
!/README.md
!/.zshrc
!/.bashrc
!/.profile
!/.xprofile
!/.tmux.conf
!/.dircolors
!/.local/
/.local/*
!/.local/bin/

# config directories
!/.config/
/.config/*
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf.local
!/.config/kitty/
/.config/kitty/*
!/.config/kitty/kitty.conf
!.i3/
/.i3/*
!/.i3/config
!/.config/i3status/
/.config/i3status/*
!/.config/i3status/config
